.grid {
    display: flex;
    flex-direction: column;
    border-style: solid; 
    border-color: red;
    background-color: aqua;
}

.grid__row {
    display: flex;
    flex-direction: row;
}

.grid__column {
    background-color: rgb(2, 11, 70);
}

.sizeButton {
    color: cornflowerblue;
    background-color: darkblue;
    border-style: solid;
    border-color: black;
    height: 2em;
    width: auto;

}