.square {
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 30em;
    border-style: solid; 
    border-color: red;
    background-color: aqua;
}

.square__row {
    display: flex;
    flex-direction: row;
}

.square__column {
    width: calc(30em / 16);
    height: calc(30em / 16);
    background-color: rgb(2, 11, 70);
}